<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title><% if current_page.data.title %><%= current_page.data.title %> | <% end %><%= _('title') %></title>
        <meta name="description" content="Chaos Computer Club Schweiz | Chaos Computer Club Suisse | Chaos Computer Club Svizzera | Chaos Computer Club Svizra | Chaos Computer Club Switzerland">
        <meta name="viewport" content="width=device-width">

        <%= stylesheet_link_tag 'bootstrap.min.css' %>
        <%= stylesheet_link_tag 'bootstrap-responsive.min.css' %>
        <%= stylesheet_link_tag 'main.css' %>

        <%= favicon_tag 'favicon.png' %>

        <!--[if lt IE 7]>
        <style>
          .logo-img {
            display:none;
          }
        </style>
        <![endif]-->
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div class="navbar navbar-inverse navbar-static-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>

                    <%= link_to _('title_short'), 'http://ccc-ch.ch/', :class => 'brand' %>

                    <div class="nav-collapse collapse">
                        <ul class="nav">
                          <li><%= link_to _('statuten'), path('statuten') %></li>
                          <li><%= link_to _('faq'), path('faq') %></li>
                          <li><%= link_to _('impressum'), path('impressum') %></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span3">
              <%= image_tag "/img/ccc-ch.png", alt: "CCC CH", title: "CCC CH", class: "logo-img" %>
            </div>

            <div class="span9">
              <%= yield %>
            </div>
          </div>
        </div>

        <%= javascript_include_tag 'vendor/jquery-1.8.3.min.js' %>
        <%= javascript_include_tag "vendor/bootstrap.min.js" %>
        <%= javascript_include_tag  "main.js" %>
    </body>
</html>
